{% for t, tunnel in npppd_tunnel | dictsort %}
tunnel {{ t }} protocol {{ tunnel.protocol }} {
{% for l in tunnel.options %}
    {{ l }}
{% endfor %}
}
{% endfor %}

{% for ipcp, options in npppd_ipcp | dictsort %}
ipcp {{ ipcp }} {
{% for option in options %}
  {{ option }}
{% endfor %}
}
{% endfor %}

{% for i, int in npppd_interface | dictsort %}
interface {{ i }} address {{ int['address'] }} ipcp {{ int['ipcp'] }}
{% endfor %}

{% for a, auth in npppd_authentication | dictsort %}
authentication {{ a }} type {{ auth['type'] }} {
{% if auth['type'] == 'local' %}
  users-file "{{ auth['users-file'] }}"
{% elif auth['type'] == 'radius' %}
  authentication-server {
{% for address, server in auth['servers'] | dictsort %}
    address {{ address }} {% if 'port' in server %}port {{ server['port'] }} {% endif %}secret "{{ server['secret'] }}"
{% endfor %}
  }
{% endif %}
}
{% endfor %}

{% for b in npppd_bind %}
bind tunnel from {{ b.from }} authenticated by {{ b.authenticated_by }} to {{ b.to }}
{% endfor %}
